<div>
    <h2 id="page-heading">
        <span jhiTranslate="p1App.rating.home.title">Ratings</span>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info float-right">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ratings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="p1App.rating.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="p1App.rating.comments">Comments</span></th>
            <th><span jhiTranslate="p1App.rating.score">Score</span></th>
            <th><span jhiTranslate="p1App.rating.belongsToRoute">Belongs To Route</span></th>
            <th><span jhiTranslate="p1App.rating.belongsToPoint">Belongs To Point</span></th>
            <th><span jhiTranslate="p1App.rating.usercreator">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rating of ratings ;trackBy: trackId">
                <td><a [routerLink]="['/rating', rating.id, 'view' ]">{{rating.id}}</a></td>
                <td>{{rating.creationDate | date:'dd/MM/yyyy'}}</td>
                <td>{{rating.name}}</td>
                <td>{{rating.score}}</td>
                <td>
                    <span *ngFor="let belongsToRoute of rating.belongsToRoutes; let last = last">
                            <a class="form-control-static" [routerLink]="['../t-route', belongsToRoute?.id, 'view' ]">{{belongsToRoute.title}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let belongsToPoint of rating.belongsToPoints; let last = last">
                            <a class="form-control-static" [routerLink]="['../point-interest', belongsToPoint?.id, 'view' ]">{{belongsToPoint.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="rating.user">
                        {{rating.user?.login}}
                    </div>
                </td>
                <td *ngIf="account?.id === rating.user?.id; else admin" class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rating', rating.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'rating', { outlets: { popup: rating.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
                <ng-template #admin>
                    <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/rating', rating.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'rating', { outlets: { popup: rating.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </ng-template>
            </tr>
            </tbody>
        </table>
    </div>
</div>
