<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="extendedUser">
            <h2><span jhiTranslate="p1App.extendedUser.detail.title">Extended User</span> {{extendedUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="p1App.extendedUser.alias">Alias</span></dt>
                <dd>
                    <span>{{extendedUser.alias}}</span>
                </dd>
                <dt><span jhiTranslate="p1App.extendedUser.user">User</span></dt>
                <dd>
                    {{extendedUser.user?.id}}
                </dd>
                <dt><span jhiTranslate="p1App.extendedUser.followsRoute">Follows Route</span></dt>
                <dd>
                    <span *ngFor="let followsRoute of extendedUser.followsRoutes; let last = last">
                        <a [routerLink]="['/t-route', followsRoute?.id, 'view' ]">{{followsRoute.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/extended-user', extendedUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
