<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.htitle">Welcome Prepared Adventurer</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your ss</p>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a
                    new account</a>
            </div>
            <div class="section-info">
                <div class="col-md-3 col-info">
                    <h3 class="col-info-header col-info-flexitem" jhiTranslate="home.routesheader">
                        Routes
                    </h3>
                    <p jhiTranslate="home.routesfaq" class="col-info-flexitem">
                        You can create the routes that you have done when travelling, and checkout other users routes!
                    </p>
                    <button class="btn btn-primary float-right" (click)="goToRoutes()">
                        <span jhiTranslate="home.routesbtn">Go to Routes</span>
                    </button>
                </div>
                <div class="col-md-3 col-info">
                    <h3 class="col-info-header col-info-flexitem" jhiTranslate="home.pointofinterestheader">
                        Points of Interest
                    </h3>
                    <p jhiTranslate="home.pointofinterestfaq" class="col-info-flexitem">
                        Check out the points of interest that you can see in the world, and add your own!
                    </p>
                    <button class="btn btn-primary float-right" (click)="goToPoI()">
                        <span jhiTranslate="home.pointofinterestbtn">Go to Points of Interest</span>
                    </button>
                </div>
            </div>
            <div class="section-info">
                <div class="col-md-3 col-info">
                    <h3 class="col-info-header col-info-flexitem" jhiTranslate="home.ratingsheader">
                        Ratings
                    </h3>
                    <p jhiTranslate="home.ratingsfaq" class="col-info-flexitem">
                        You can rate the points of interests and routes available in the site, and check other people's
                        opinions!
                    </p>
                    <button class="btn btn-primary float-right" (click)="goToRatings()">
                        <span jhiTranslate="home.ratingsbtn">Go to Ratings</span>
                    </button>
                </div>
                <div class="col-md-3 col-info">
                    <h3 class="col-info-header col-info-flexitem" jhiTranslate="home.tagsheader">
                        Tags
                    </h3>
                    <p jhiTranslate="home.tagsfaq" class="col-info-flexitem">
                        Explore the tags that our users created, and check out the premium content!
                    </p>
                    <button class="btn btn-primary float-right" (click)="goToTags()">
                        <span jhiTranslate="home.tagsbtn">Go to Tags</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
