<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tRoute">
            <h2><b>{{tRoute.title}}</b></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="p1App.tRoute.description">Description</span></dt>
                <dd>
                    <span *ngIf="tRoute.description; else nothing">{{tRoute.description}}</span>
                    <ng-template #nothing>
                        <span><b>-</b></span>
                    </ng-template>
                </dd>
                <dt><span jhiTranslate="p1App.tRoute.date">Date</span></dt>
                <dd>
                    <span>{{tRoute.date}}</span>
                </dd>
                <dt><span jhiTranslate="p1App.tRoute.user">User</span></dt>
                <dd>
                    {{tRoute.user?.login}}
                </dd>
                <dt><span jhiTranslate="p1App.tRoute.avg">Average</span></dt>
                <dd *ngIf="average; else noavg">
                    {{average}}
                </dd>
                <ng-template #noavg>
                    <span><b>-</b></span>
                </ng-template>
            </dl>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info btn-back">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <span *ngIf="account?.id === tRoute.user?.id; else admin">
                   <button type="button"
                           [routerLink]="['/t-route', tRoute?.id, 'edit']"
                           class="btn btn-primary btn-edit">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                   </button>
                    <button type="submit" (click)="addDays()" class="btn btn-primary btn-add-days">
                        <fa-icon icon="calendar"></fa-icon>&nbsp;<span
                        jhiTranslate="p1App.tRoute.adddays"> Add days</span>
                    </button>
                    <button *ngIf="days?.length > 0" type="submit" (click)="deleteDays()"
                            class="btn btn-primary btn-delete-days">
                        <fa-icon icon="calendar"></fa-icon>&nbsp;<span jhiTranslate="p1App.tRoute.deletedays"> Delete days</span>
                    </button>
                    <button type="submit" (click)="addPoI()" class="btn btn-primary btn-add-poi">
                        <fa-icon icon="star"></fa-icon>&nbsp;<span
                        jhiTranslate="p1App.tRoute.addpoi"> Add existing Points</span>
                    </button>
            </span>
            <ng-template #admin>
                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                        [routerLink]="['/t-route', tRoute?.id, 'edit']"
                        class="btn btn-primary btn-edit">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="addDays()"
                        class="btn btn-primary btn-add-days">
                    <fa-icon icon="calendar"></fa-icon>&nbsp;<span jhiTranslate="p1App.tRoute.adddays"> Add days</span>
                </button>
                <span *ngIf="days?.length > 0">
                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="deleteDays()"
                            class="btn btn-primary btn-delete-days">
                        <fa-icon icon="calendar"></fa-icon>&nbsp;<span jhiTranslate="p1App.tRoute.deletedays"> Delete days</span>
                    </button>
                </span>
                <button *jhiHasAnyAuthority="'ROLE_ADMIN'"type="submit" (click)="addPoI()" class="btn btn-primary btn-add-poi">
                    <fa-icon icon="star"></fa-icon>&nbsp;<span
                    jhiTranslate="p1App.tRoute.addpoi"> Add existing Points</span>
                </button>
            </ng-template>
            <span *ngIf="followed; else unfollow">
                <button type="submit"
                        (click)="follow()"
                        class="btn btn-info btn-unfollow">
                    <fa-icon [icon]="'user'"></fa-icon>&nbsp;<span
                    jhiTranslate="p1App.tRoute.unfollow"> Unfollow route</span>
                </button>
            </span>
            <ng-template #unfollow>
                <button type="submit"
                        (click)="follow()"
                        class="btn btn-info">
                    <fa-icon [icon]="'user'"></fa-icon>&nbsp;<span
                    jhiTranslate="p1App.tRoute.follow"> Follow route</span>
                </button>
            </ng-template>
        </div>
        <br/>
        <div>
            <div>
                <h3 jhiTranslate="p1App.tRoute.haspoi"></h3>
                <div class="table-responsive" *ngIf="pointInterests">
                    <table class="table table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                            <th><span jhiTranslate="p1App.tRoute.title">Title</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="city"><span jhiTranslate="p1App.pointInterest.city">City</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                        </tr>
                        </thead>
                        <tbody infinite-scroll (scrolled)="loadPage(page + 1)"
                               [infiniteScrollDisabled]="page >= links['last']"
                               [infiniteScrollDistance]="0">
                        <tr *ngFor="let pointInterest of pointsInRoute ;trackBy: trackId">
                            <td><a
                                [routerLink]="['/point-interest', pointInterest?.id, 'view' ]">{{pointInterest.name}}</a>
                            </td>
                            <td>{{pointInterest.city}}</td>
                            <td *ngIf="account?.id === tRoute.user?.id; else admin">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            (click)="deletePoI(pointInterest.id)"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                            <ng-template #admin>
                                <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                (click)="deletePoI(pointInterest.id)"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </ng-template>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-right">
        <div class="col-md-3 col-info" class="separator-top">
            <h3 class="col-info-header col-info-flexitem" jhitranslate="p1App.tRoute.ratethis">
                You can rate this route
            </h3>
            <button class="btn btn-primary" (click)="goRate()">
                <span jhiTranslate="p1App.tRoute.clickhere">Click here to rate this route</span>
            </button>
        </div>
        <div class="col-md-3 col-info" class="separator-top">
            <h3 class="col-info-header col-info-flexitem" jhitranslate="p1App.tRoute.daysin">
                These are the days that the route is done
            </h3>
            <div class="tag-info" *ngIf="days">
                <div class="tag-container" *ngFor="let day of days">
                    <div class="tag-box">
                        {{day.title}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-info" class="separator-bottom">
            <h3 class="col-info-header col-info-flexitem" jhitranslate="p1App.tRoute.tagsin">
                This route has the following tags:
            </h3>
            <div class="tag-info" *ngIf="tags">
                <div class="tag-container" *ngFor="let tag of tags">
                    <div class="tag-box">
                        {{tag.name}}
                    </div>
                </div>
            </div>
            <br/>
            <div *ngIf="account?.id === tRoute.user?.id; else admintag">
                <button class="btn btn-primary btn-away" (click)="addTag()">
                    <span jhiTranslate="p1App.tRoute.addtag">Click here to add new tags</span>
                </button>
                <button class="btn btn-primary btn-away" (click)="addExistingTag()">
                    <span jhiTranslate="p1App.tRoute.addexistingtag">Click here to add existing tags</span>
                </button>
            </div>
            <ng-template #admintag>
                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary btn-away" (click)="addTag()">
                    <span jhiTranslate="p1App.tRoute.addtag">Click here to add new tags</span>
                </button>
                <button class="btn btn-primary btn-away" (click)="addExistingTag()">
                    <span jhiTranslate="p1App.tRoute.addexistingtag">Click here to add existing tags</span>
                </button>
            </ng-template>
        </div>
    </div>
</div>
