$separatorValue: 1px solid #e5e5e5;
.separator {
    border-left: $separatorValue;

    .separator-top,
    .separator-bottom {
        min-height: 25%;
        padding-left: 1em;
    }

    .separator-bottom {
        .btn-away {
            margin-top: 1em;
        }
    }
}

.separator-right {
    max-width: 33.3%;

    .tag-info {
        display: inline-block;

        > div {
            justify-content: center;
            display: inline;
        }

        .tag-container {
            > div {
                padding: 1px;
                float: left;
            }

            .tag-box {
                height: auto;
                width: 100px;
                border-radius: 2px;
                display: inline-block;
                margin: 1rem;
                background-color: #3e8acc;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                text-align: center;
                color: #ffffff;
            }
        }
    }
}
.btn-back {
    background-color: #e70000;
    border-color: #e70000;
}
.btn-edit {
    background-color: #ff8c00;
    border-color: #ff8c00;
}
.btn-add-days {
    background-color: #ffef00;
    border-color: #ffef00;
}
.btn-delete-days {
    background-color: #00811f;
    border-color: #00811f;
}
.btn-add-poi {
    background-color: #0044ff;
    border-color: #0044ff;
}

.btn-unfollow {
    background-color: #760089;
    border-color: #760089;
}

.btn-back,
.btn-edit,
.btn-add-days,
.btn-delete-days,
.btn-add-poi,
.btn-unfollow {
    color: black;
}
