<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tRoute">
            <h2><b>{{tRoute.title}}</b></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="p1App.tRoute.description">Description</span></dt>
                <dd>
                    <span *ngIf="tRoute.description; else nothing">{{tRoute.description}}</span>
                    <ng-template #nothing>
                        <span><b>-</b></span>
                    </ng-template>                </dd>
                <dt><span jhiTranslate="p1App.tRoute.date">Date</span></dt>
                <dd>
                    <span>{{tRoute.date}}</span>
                </dd>
                <dt><span jhiTranslate="p1App.tRoute.user">User</span></dt>
                <dd>
                    {{tRoute.user?.login}}
                </dd>
            </dl>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <span *ngIf="account?.id === tRoute.user?.id">
               <button type="button"
                       [routerLink]="['/t-route', tRoute.id, 'edit']"
                       class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </span>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/t-route', tRoute.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
