<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tRoute">
            <h2><b>{{tRoute.title}}</b></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="p1App.tRoute.description">Description</span></dt>
                <dd>
                    <span *ngIf="tRoute.description; else nothing">{{tRoute.description}}</span>
                    <ng-template #nothing>
                        <span><b>-</b></span>
                    </ng-template>
                </dd>
                <dt><span jhiTranslate="p1App.tRoute.date">Date</span></dt>
                <dd>
                    <span>{{tRoute.date}}</span>
                </dd>
                <dt><span jhiTranslate="p1App.tRoute.user">User</span></dt>
                <dd>
                    {{tRoute.user?.login}}
                </dd>
                <dt><span jhiTranslate="p1App.tRoute.avg">Average</span></dt>
                <dd *ngIf="average; else noavg">
                    {{average}}
                </dd>
                <ng-template #noavg>
                    <span><b>-</b></span>
                </ng-template>
            </dl>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <span *ngIf="account?.id === tRoute.user?.id; else admin">
               <button type="button"
                       [routerLink]="['/t-route', tRoute?.id, 'edit']"
                       class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
               </button>
            </span>
            <ng-template #admin>
                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                        [routerLink]="['/t-route', tRoute?.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </ng-template>
        </div>
        <br/>
        <div>
            <div>
                <h3 jhiTranslate="p1App.tRoute.haspoi"></h3>
                <div class="table-responsive" *ngIf="pointInterests">
                    <table class="table table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                            <th><span jhiTranslate="p1App.tRoute.title">Title</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="city"><span jhiTranslate="p1App.pointInterest.city">City</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                        </tr>
                        </thead>
                        <tbody infinite-scroll (scrolled)="loadPage(page + 1)"
                               [infiniteScrollDisabled]="page >= links['last']"
                               [infiniteScrollDistance]="0">
                        <tr *ngFor="let pointInterest of pointsInRoute ;trackBy: trackId">
                            <td><a
                                [routerLink]="['/point-interest', pointInterest?.id, 'view' ]">{{pointInterest.name}}</a>
                            </td>
                            <td>{{pointInterest.city}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-right">
        <div class="col-md-3 col-info" class="separator-top">
            <h3 class="col-info-header col-info-flexitem" jhitranslate="p1App.tRoute.ratethis">
                You can rate this route
            </h3>
            <button class="btn btn-primary" (click)="goRate()">
                <span jhiTranslate="p1App.tRoute.clickhere">Click here to rate this route</span>
            </button>
        </div>
        <div class="col-md-3 col-info" class="separator-bottom">
            <h3 class="col-info-header col-info-flexitem" jhitranslate="p1App.tRoute.tagsin">
                This route has the following tags:
            </h3>
            <div class="tag-info" *ngIf="tags">
                <div class="tag-container" *ngFor="let tag of tags">
                    <div class="tag-box">
                        {{tag.name}}
                    </div>
                </div>
            </div>
            <br/>
            <div  *ngIf="account?.id === tRoute.user?.id; else admintag">
                <button class="btn btn-primary btn-away" (click)="addTag()">
                    <span jhiTranslate="p1App.tRoute.addtag">Click here to add new tags</span>
                </button>
                <button class="btn btn-primary btn-away" (click)="addExistingTag()">
                    <span jhiTranslate="p1App.tRoute.addexistingtag">Click here to add existing tags</span>
                </button>
            </div>
            <ng-template #admintag>
                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary btn-away" (click)="addTag()">
                    <span jhiTranslate="p1App.tRoute.addtag">Click here to add new tags</span>
                </button>
                <button class="btn btn-primary btn-away" (click)="addExistingTag()">
                    <span jhiTranslate="p1App.tRoute.addexistingtag">Click here to add existing tags</span>
                </button>
            </ng-template>
        </div>
    </div>
</div>
